@model Whistleblower.Models.WhistleModel

@{
    ViewBag.Title = "ReportStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="text-right">
        <button type="button" class="btn btn-danger text-right">Logout</button>

    </div>
</div>

<div class="form-titel">
    <img src="~/images/omegapoint.png">



</div>
<hr />


<div class="alert alert-dismissible alert-success">
    <strong>Ditt ärende är hantera</strong> You successfully read <a href="#" class="alert-link">Du har ett nytt medelande, gå vidare till safe post box</a>.
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(".btn").click(function () {
        window.location.href = '@Url.Action("LogOut", "Login")'
        console.log("test")
    });
    </script>
}
